<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; chraset=UTF-8">
    <title>community</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/my.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <script src="/jquery/jquery-3.3.1.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div class="jumbotron">
    <h1>出错啦！</h1>
    <div th:text="${er}"></div>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到首页</a></p>
</div>
</body>
</html>