<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; chraset=UTF-8">
    <title>community</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/my.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-theme.min.css">
    <script src="jquery/jquery-3.3.1.js"></script>
    <script src="bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:replace="common/header"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>
            <hr>
            <div class="media" th:each="publish:${publishlist}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${publish.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${publish.id}}" th:text="${publish.title}"></a>
                    </h4>
                    <span th:text="${publish.content}"></span><br>
                    <span class="text-desc">
                        <span th:text="${publish.commentCount}"></span>个回复·
                        <span th:text="${publish.viewCount}"></span>次浏览·
                        <span th:text="${#dates.format(publish.gmtCreate,'yyyy-MMMM-dd')}"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h1>热门话题</h1>
        </div>
    </div>
</div>
</body>
</html>