<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; chraset=UTF-8">
    <title>community</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/my.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <script src="/jquery/jquery-3.3.1.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/myjs.js" type="application/javascript"></script>
</head>
<body>
<div th:replace="common/header"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 th:text="${sectionName}"></h2>
            <hr>
            <div th:if="${nitificationList!=null}">
                <div class="media" th:each="publishlist:${nitificationList}">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="#" class="text-class" th:text="${publishlist.username}"></a>
                        <a style="color: #0f0f0f">评论了</a><a  th:href="@{'/updateStatus?nId='+${publishlist.nId}+'&&publishId='+${publishlist.id}}"  th:text="${publishlist.title}"></a>
                        <span class="label label-danger" th:if="${publishlist.status==0}">未读</span>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h1>热门话题</h1>
            <div class="list-group">
                <a href="/profile/question"
                   th:class="${section=='question'}? 'list-group-item active':'list-group-item'">我的问题</a>
                <a href="/profile/replies" th:class="${section=='replies'}? 'list-group-item active':'list-group-item'">最新回复</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>