<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; chraset=UTF-8">
    <title>community</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/my.css">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">
    <script src="/jquery/jquery-3.3.1.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/myjs.js" type="application/javascript"></script>
</head>
<body>
<div th:replace="common/header"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div class="media">
                <div class="media-left">
                </div>
                <div class="media-body">
                    <h3><span th:text="${onePublishList.title}"></span></h3>
                    <span class="text-desc">
                        作者:<span th:text="${onePublishList.user.username}"></span>  |
                        浏览数:<span th:text="${onePublishList.viewCount}"></span>  |
                        发布于:<span th:text="${#dates.format(onePublishList.gmtCreate,'yyyy-MMMM-dd')}"></span>
                    </span>
                    <hr>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${onePublishList.content}"></div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a class="community-menu" th:if="${session.user != null && session.user.id ==onePublishList.creator}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        编辑
                    </a>
                </div>
            </div>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                <input type="hidden" id="question_id" th:value="${onePublishList.id}">
                <textarea class="form-control comment" rows="5" id="comment_content"></textarea>
                <button type="button" class="btn btn-success" onclick="post()">回复问题</button>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>发起人</h3>
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${onePublishList.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h6 class="media-heading">
                        <span th:text="${onePublishList.user.username}"></span>
                    </h6>
                </div>
            </div>
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3>相关内容</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>