<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.community.community.mapper.NotificationMapper">
    <insert id="insert">
        insert into notification (notifier, receiver, outerId, gmtCreate) values (#{notifier},#{receiver},#{outerId},#{gmtCreate})
    </insert>
    <update id="updateStatus">
        update notification set status=1 where nId=#{nId}
    </update>
    <select id="allCount" resultType="java.lang.Integer">
        select count(*) from notification where receiver=#{receiver} and status=0
    </select>


</mapper>