<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.community.community.mapper.PublishMapper">
    <insert id="insert">
        insert into publish (title, content, gmtCreate, gmtModified, creator,tag) values (#{title},#{content},#{gmtCreate},#{gmtModified},#{creator},#{tag})
    </insert>
    <update id="updateViewCount">
        update publish set viewCount=viewCount+1 where Id=#{id}
    </update>

    <select id="selectByCreator" resultType="com.example.community.community.model.Publish">
        select * from publish where creator=#{id}
    </select>
    <select id="selectById" resultMap="UserWithPublish">
        select publish.*,user.* from publish,user where publish.Id=#{id} and user.userId=publish.creator
    </select>
    <select id="selectByTag" resultType="com.example.community.community.model.Publish">
        select * from publish where Id!=#{id} and tag regexp #{tag}
    </select>
    <select id="select" resultType="com.example.community.community.model.UserWithPublish">
        select publish.*,user.* from publish,user where publish.creator=user.userId
    </select>


    <select id="selectTwo" resultType="com.example.community.community.model.UserWithPublish">
        select publish.*,user.* from publish,user where publish.creator=user.userId
    </select>


    <resultMap type="com.example.community.community.model.Publish" id="UserWithPublish">
        <id property="id" column="id" />
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="creator" column="creator"/>
        <result property="gmtCreate" column="gmtCreate"/>
        <result property="gmtModified" column="gmtModified"/>
        <result property="commentCount" column="commentCount"/>
        <result property="viewCount" column="viewCount"/>
        <result property="likeCount" column="likeCount"/>
        <result property="tag" column="tag"/>
        <association property="user" javaType="com.example.community.community.model.User">
            <id property="userId" column="userId" />
            <result property="username" column="username" />
            <result property="avatarUrl" column="avatarUrl" />
        </association>
    </resultMap>
</mapper>