<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.community.community.mapper.UserMapper">
    <insert id="insert">
        insert into user (username,accountId,token,gmtCreate,gmtModified,avatarUrl) values (#{username},#{accountId},#{token},#{gmtCreate},#{gmtModified},#{avatarUrl})
    </insert>
    <insert id="register">
        insert into user (email,username,password,exchange) values (#{email},#{username},#{password},#{exchange});
    </insert>
    <update id="insertToken">
        update user set token=#{token} where userId=#{userId}
    </update>
    <update id="update">
        update user set token=#{token},username=#{username},gmtModified=#{gmtModified},avatarUrl=#{avatarUrl} where accountId=#{accountId}
    </update>
    <select id="select" resultType="com.example.community.community.model.User">
        select * from user where token=#{token}
    </select>
    <select id="selectByAccountId" resultType="com.example.community.community.model.User">
        select * from user where accountId =#{accountId}
    </select>
    <select id="selectUser" resultType="com.example.community.community.model.User">
        select * from user where username=#{username}
    </select>


    <select id="selectNotifi" resultType="com.example.community.community.model.NotifiWithUserWithPublish">
       select publish.*,notification.*,user.* from notification,user,publish where notification.notifier=user.userId and notification.receiver=#{id} and publish.id=notification.outerId
    </select>
    <select id="selectByUserId" resultType="com.example.community.community.model.User">
        select * from user where userId=#{id}
    </select>

    <resultMap id="resultById" type="com.example.community.community.model.User">
        <id property="userId" column="userId"/>
        <collection property="notification" ofType="com.example.community.community.model.Notification">
            <id property="nId" column="nId"/>
            <result property="notifier" column="notifier"/>
            <result property="status" column="status"/>
            <association property="publish" javaType="com.example.community.community.model.Publish">
                <id property="id" column="id"/>
                <result property="content" column="content"/>
                <association property="user" javaType="com.example.community.community.model.User">
                    <id property="userId" column="userId"/>
                    <result property="username" column="username"/>
                </association>
            </association>
        </collection>
    </resultMap>

</mapper>